@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    @apply border-t-2 border-red-600
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
  }


button:active {

    @apply scale-90;

     }
